.web-search-dialog {
    border-radius: 5px;
    background-color: rgba(0.0, 0.0, 0.0, 0.8);

    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.web-search-entry {
    width: 800px;
    height: 40pt;
    font-size: 30pt;
    color: rgb(128, 128, 128);
    border: 1px solid rgba(245,245,245,0.2);
    selection-background-color: white;
    selected-color: black;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0);
}

.search-engine-label {
    border: 1px solid rgba(245,245,245,0.2);
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
    font-size: 30pt;
}

.search-hint {
    padding-left: 5px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 7pt;
    color: rgba(255, 255, 255, 1);
}
.hint-icon {
    padding-left: 5px;
    padding-top: 2px;
    icon-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.menu-item-icon {
    icon-size: 15pt;
    color: #8d8f8a;
}

.helper-box {
    border: 1px solid rgba(245,245,245,0.2);
}

.helper-title {
    font-style: bold;
    padding-top: 1px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 2px;
    font-size: 17pt;
    color: black;
    background-color: rgba(245,245,245,0.2);
}

.helper-abstract {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 15pt;
}

.helper-definition {
    font-style: italic;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 15pt;
}

.helper-icon-box {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-id-label {
    padding-top: 2px;
    padding-right: 2px;
    font-size: 10pt;
    color: rgba(255, 255, 255, 1);
}

.settings-icon {
    padding-right: 3px;
    icon-size: 25pt;
    color: #8d8f8a;
}
