.search-dialog {
    border-radius: 5px;
    background-color: rgba(0.0, 0.0, 0.0, 0.8);

    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.search-entry {
    width: 800px;
    height: 35px;
    font-size: 35px;
    color: rgb(128, 128, 128);
    border: 1px solid rgba(245,245,245,0.2);
    selection-background-color: white;
    selected-color: black;
}

.search-engine-label {
    border: 1px solid rgba(245,245,245,0.2);
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
    font-size: 35px;
}

.search-hint {
    padding-left: 5px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
}
.hint-icon {
    padding-left: 5px;
    padding-top: 2px;
    icon-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.menu-item-icon {
    icon-size: 15px;
    color: #8d8f8a;
}

.helper-box {
    border: 1px solid rgba(245,245,245,0.2);
}

.helper-title {
    font-style: bold;
    padding-top: 1px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 2px;
    font-size: 17px;
    color: black;
    background-color: rgba(245,245,245,0.2);
}

.helper-abstract {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.helper-definition {
    font-style: italic;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.helper-icon-box {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-id-label {
    padding-top: 2px;
    padding-right: 2px;
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
}

.settings-icon {
    padding-right: 3px;
    icon-size: 25px;
    color: #8d8f8a;
}